/**
    Title: jeanBaptiste-payroll.css
    Author: Sarah Jean Baptiste
    Date: 01/12/2021
    Description: Style sheet for assignment 2.3
*/

/* Unordered list styling*/
ul{
    border: dotted 1px red;
}
