/**
    Title: jeanBaptiste-sequence-game.css
    Author: Sarah Jean Baptiste
    Date: 02/07/2021
    Description: Style sheet 
/*

/*result styling*/
#results{
    text-align: center;
    font-size: 28px;
  }