/**
    Title: jeanBaptiste-temp-conversion.css
    Author: Sarah Jean Baptiste
    Date: 01/23/2021
    Description: Style sheet for assignment 3.2
*/

/* Results Styling */
#results{
    text-align: center;
    font-size: 28px;
}

/* App-header styling */
.app-header{
    text-align: center;
}
